@import "../../../scss/utilities/mixin";
@import "../../../scss/utilities/variables";
.payment-page {
    position: relative;
    padding: 5rem 5rem 5rem 0;
    z-index: 3;
    background-color: $white;
    @include respond-to("lg") {
        padding-right: 0;
    }
    .information {
        &__title {
            font-size: 2.5rem;
        }
        button + button {
            margin-left: 2rem;
        }
    }
    .shipping {
        &__content {
            padding: 1.6rem 2rem;
            border-radius: 8px;
            border: 1px solid $border-color;

            &--item {
                @include flex;
                font-weight: 300;
                &:not(:first-child) {
                    padding-top: 1rem;
                    margin-top: 1rem;
                    border-top: 1px solid $border-color;
                }
            }
            &--item + &--item {
                padding-top: 1rem;
                margin-top: 1rem;
            }
        }
        &__info {
            &--inner {
                @include flex;
                gap: 2rem;

                h4 {
                    width: 6rem;
                }
            }
            button {
                font-size: 1.3rem;
                color: $primary-color;
                font-weight: 300;
            }
        }
        &__title {
            padding: 4rem 0 2rem;
            font-size: 1.6rem;
        }
        &__btn {
            padding: 3rem 0;

            button + button {
                margin-left: 2rem;
            }
            span {
                position: relative;
                z-index: 9;
                text-transform: capitalize !important;
            }
        }
    }
}
